
wide-1440px-and-up.css
global.css
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-4xs-2: 8.2px;
  --font-size-5xl-7: 24.7px;
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-37xl: 56px;
  --font-size-15xl: 34px;
  --font-size-26xl: 45px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: rgba(255, 255, 255, 0.5);
  --color-gray-200: rgba(255, 255, 255, 0.15);
  --color-gray-300: rgba(255, 255, 255, 0.4);
  --color-whitesmoke: #f3f3f3;
  --color-darkslategray: #333;

  /* Gaps */
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-11xl: 30px;
  --gap-mini: 15px;
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-37xl: 56px;
  --gap-9xl: 28px;
  --gap-9xs: 4px;
  --gap-106xl: 125px;
  --gap-12xl: 31px;
  --gap-43xl: 62px;
  --gap-21xl: 40px;

  /* Paddings */
  --padding-77xl: 96px;
  --padding-xl: 20px;
  --padding-xs: 12px;
  --padding-5xl: 24px;
  --padding-70xl: 89px;
  --padding-25xl: 44px;
  --padding-43xl: 62px;
  --padding-45xl: 64px;
  --padding-7xs: 6px;
  --padding-100xl: 119px;
  --padding-40xl: 59px;
  --padding-13xl: 32px;
  --padding-sm: 14px;
  --padding-2xs-5: 10.5px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-21xl: 40px;
  --br-13xl: 32px;
  --br-xs: 12px;
}


:root {
  /* fonts */
  --body-link: Inter;

  /* font sizes */
  --body-link-size: 16px;

  /* Colors */
  --background-default-default: #fff;
  --border-default-default: #d9d9d9;
  --text-default-secondary: #757575;
  --background-brand-default: #2c2c2c;
  --text-default-default: #1e1e1e;
  --text-brand-on-brand: #f5f5f5;
  --text-neutral-default: #303030;
  --text-default-tertiary: #b3b3b3;

  /* Spacing */
  --space-600: 24px;
  --radius-200: 8px;
  --space-400: 16px;
  --space-200: 8px;
  --space-300: 12px;

  /* Gaps */
  --gap-5xs: 8px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-3xs: 10px;
  --padding-mini: 15px;

  /* Border radiuses */
}