.medium-length-displa,
.medium-length-displa1 {
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  font-weight: 900;
  color: inherit;
  display: inline-block;
}
.medium-length-displa {
  letter-spacing: -0.44px;
  line-height: 27px;
  min-width: 87px;
  white-space: nowrap;
}
.medium-length-displa1 {
  font-size: var(--font-size-4xs-2);
  letter-spacing: -0.15px;
  line-height: 9px;
  min-width: 14px;
}
.medium-length-displa-parent,
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.nav-container {
  flex-direction: column;
  padding: var(--padding-2xs-5) 0 0;
}
.menu-four,
.menu-four1,
.menu-one,
.menu-three,
.menu-two {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 44px;
  white-space: nowrap;
}
.menu-four,
.menu-four1,
.menu-three,
.menu-two {
  left: 68px;
  min-width: 47px;
}
.menu-four,
.menu-four1,
.menu-three {
  left: 139px;
}
.menu-four,
.menu-four1 {
  left: 210px;
}
.menu-four1 {
  left: 281px;
}
.menu-one-parent {
  margin: 0;
  align-self: stretch;
  height: 20px;
  position: relative;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.menu-actions {
  margin: 0;
  width: 328px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.action {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.1px;
  line-height: 24px;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 52px;
}
.button,
.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--color-black);
  border-radius: var(--br-13xl);
  justify-content: flex-start;
}
.button2:hover,
.button:hover {
  background-color: var(--color-darkslategray);
}
.nav {
  align-self: stretch;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-13xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl-7);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.medium-length-displa2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -1px;
  line-height: 60px;
  font-weight: 900;
  font-family: inherit;
}
.separated-they-live {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 28px;
}
.headline {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.action1 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  min-width: 52px;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--color-black);
  border-radius: var(--br-13xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.separated-they-live1 {
  flex: 1;
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 140px;
}
.button1,
.img-icon,
.text {
  max-width: 100%;
  overflow: hidden;
}
.button1 {
  width: 475px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-100xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  font-size: var(--font-size-sm);
}
.img-icon,
.text {
  flex: 1;
  min-width: 320px;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
}
.img-icon {
  height: 428px;
  border-radius: var(--br-xs);
  object-fit: cover;
}
.content {
  width: 1110px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-106xl);
  max-width: 100%;
}
.body,
.nav-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.body {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.nav-parent {
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-37xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.feature-icons {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-black);
}
.feature-one1 {
  align-self: stretch;
  position: relative;
  line-height: 28px;
}
.feature-icons-parent,
.feature-one-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.feature-one-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 191px;
}
.feature-icons-parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.all-base-ui {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.1px;
  line-height: 24px;
}
.feature-one {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 262px;
  max-width: 100%;
}
.frame-child {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-black);
}
.feature-two1 {
  align-self: stretch;
  position: relative;
  line-height: 28px;
}
.ellipse-parent,
.feature-two-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.feature-two-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 191px;
}
.ellipse-parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.all-base-ui1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.1px;
  line-height: 24px;
}
.feature-two {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 262px;
  max-width: 100%;
}
.frame-item {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-black);
}
.feature-three1 {
  align-self: stretch;
  position: relative;
  line-height: 28px;
}
.ellipse-group,
.feature-three-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.feature-three-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 191px;
}
.ellipse-group {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.all-base-ui2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.1px;
  line-height: 24px;
}
.content1,
.feature-three,
.features {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.feature-three {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 262px;
}
.content1,
.features {
  flex-direction: row;
}
.content1 {
  width: 1110px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.features {
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  justify-content: center;
  padding: var(--padding-45xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.subtitle-text {
  margin: 0;
  width: 286px;
  position: relative;
  line-height: 28px;
  display: inline-block;
}
.image-icon {
  width: 64px;
  height: 64px;
  position: relative;
  border-radius: var(--br-13xl);
  object-fit: contain;
}
.label,
.text1 {
  align-self: stretch;
  position: relative;
}
.label {
  letter-spacing: 0.1px;
  line-height: 24px;
}
.text1 {
  font-size: var(--font-size-sm);
  line-height: 20px;
}
.customer,
.name {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.name {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-9xs);
}
.customer {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-base);
  min-width: 149px;
}
.icon,
.icon1 {
  height: 16px;
  width: 16px;
  position: relative;
  min-height: 16px;
}
.icons {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.footer,
.icons,
.testimonial {
  display: flex;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-5xl);
  font-size: var(--font-size-base);
}
.testimonial {
  width: 350px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-37xl);
  min-width: 350px;
  max-width: 100%;
}
.subtitle-text1 {
  margin: 0;
  width: 286px;
  position: relative;
  line-height: 28px;
  display: inline-block;
}
.image-icon1 {
  width: 64px;
  height: 64px;
  position: relative;
  border-radius: var(--br-13xl);
  object-fit: cover;
}
.label1,
.text2 {
  align-self: stretch;
  position: relative;
}
.label1 {
  letter-spacing: 0.1px;
  line-height: 24px;
}
.text2 {
  font-size: var(--font-size-sm);
  line-height: 20px;
}
.customer1,
.name1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.name1 {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-9xs);
}
.customer1 {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-base);
  min-width: 149px;
}
.icon2,
.icon3 {
  height: 16px;
  width: 16px;
  position: relative;
  min-height: 16px;
}
.icons1 {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.footer1,
.icons1,
.testimonial1 {
  display: flex;
  justify-content: flex-start;
}
.footer1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-5xl);
  font-size: var(--font-size-base);
}
.testimonial1 {
  width: 350px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-37xl);
  min-width: 350px;
  max-width: 100%;
}
.subtitle-text2 {
  margin: 0;
  width: 286px;
  position: relative;
  line-height: 28px;
  display: inline-block;
}
.image-icon2 {
  width: 64px;
  height: 64px;
  position: relative;
  border-radius: var(--br-13xl);
  object-fit: cover;
}
.label2,
.text3 {
  align-self: stretch;
  position: relative;
}
.label2 {
  letter-spacing: 0.1px;
  line-height: 24px;
}
.text3 {
  font-size: var(--font-size-sm);
  line-height: 20px;
}
.customer2,
.name2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.name2 {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-9xs);
}
.customer2 {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-base);
  min-width: 149px;
}
.icon4,
.icon5 {
  height: 16px;
  width: 16px;
  position: relative;
  min-height: 16px;
}
.icons2 {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.footer2,
.icons2,
.testimonial2 {
  display: flex;
  justify-content: flex-start;
}
.footer2 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-5xl);
  font-size: var(--font-size-base);
}
.testimonial2 {
  width: 350px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-37xl);
  min-width: 350px;
  max-width: 100%;
}
.content2,
.testimonials {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.content2 {
  width: 1110px;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.testimonials {
  margin-right: -14px;
  width: 1468px;
  background-color: var(--color-whitesmoke);
  justify-content: center;
  padding: var(--padding-77xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 103%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.medium-length-displa3,
.medium-length-displa4 {
  position: relative;
  letter-spacing: -0.44px;
  line-height: 27px;
  text-transform: uppercase;
  font-weight: 900;
  display: inline-block;
  min-width: 87px;
}
.medium-length-displa4 {
  font-size: var(--font-size-4xs-2);
  letter-spacing: -0.15px;
  line-height: 9px;
  min-width: 14px;
}
.logo,
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-container {
  width: 159px;
  flex-direction: column;
  font-size: var(--font-size-5xl-7);
}
.first-column {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  min-width: 99px;
}
.first-page,
.fourth,
.second-page,
.third {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 67px;
}
.fourth,
.second-page,
.third {
  min-width: 88px;
}
.fourth,
.third {
  min-width: 35px;
}
.fourth {
  min-width: 44px;
}
.column-1,
.menu1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu1 {
  gap: var(--gap-5xs);
  font-size: var(--font-size-sm);
}
.column-1 {
  flex: 1;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 104px;
}
.second {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  min-width: 60px;
}
.first-page1,
.second-page1,
.third1 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 68px;
}
.second-page1,
.third1 {
  min-width: 71px;
}
.third1 {
  min-width: 43px;
}
.column-2,
.menu2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu2 {
  gap: var(--gap-5xs);
  font-size: var(--font-size-sm);
}
.column-2 {
  flex: 0.5071;
  padding: 0 var(--padding-70xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 104px;
}
.third2 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  min-width: 42px;
}
.first-page2,
.second-page2,
.third3 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 68px;
}
.second-page2,
.third3 {
  min-width: 71px;
}
.third3 {
  min-width: 43px;
}
.column-3,
.menu,
.menu3 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu3 {
  gap: var(--gap-5xs);
  font-size: var(--font-size-sm);
}
.column-3,
.menu {
  gap: var(--gap-base);
}
.menu {
  width: 540px;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0 var(--padding-70xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.subscribe1 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  min-width: 81px;
}
.icon6,
.placeholder {
  height: 24px;
  position: relative;
}
.placeholder {
  width: 86px;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  background-color: transparent;
  letter-spacing: 0.1px;
  line-height: 24px;
  color: var(--color-gray-100);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0;
}
.icon6 {
  width: 24px;
  min-height: 24px;
}
.input {
  align-self: stretch;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-5xl);
  gap: var(--gap-xl);
}
.join-our-newsletter {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  mix-blend-mode: normal;
}
.newsletter-form,
.subscribe {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.newsletter-form {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-xl);
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
}
.subscribe {
  width: 349px;
  flex-shrink: 0;
  align-items: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.content3,
.footer3 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.content3 {
  width: 1110px;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer3 {
  align-self: stretch;
  background-color: var(--color-black);
  align-items: center;
  justify-content: center;
  padding: var(--padding-77xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.wide-1440px-and-up {
  width: 100%;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-19xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .content {
    gap: var(--gap-43xl);
  }
  .content2,
  .content3 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1025px) {
  .medium-length-displa2 {
    font-size: var(--font-size-26xl);
    line-height: 48px;
  }
  .testimonial,
  .testimonial1,
  .testimonial2 {
    flex: 1;
  }
}
@media screen and (max-width: 750px) {
  .menu-actions {
    display: none;
  }
  .button1 {
    padding-right: var(--padding-40xl);
    box-sizing: border-box;
  }
  .text {
    gap: var(--gap-xl);
  }
  .content {
    gap: var(--gap-12xl);
  }
  .menu,
  .testimonials {
    box-sizing: border-box;
  }
  .testimonials {
    padding-top: var(--padding-43xl);
    padding-bottom: var(--padding-43xl);
  }
  .menu {
    flex-wrap: wrap;
    gap: var(--gap-mini);
    padding-right: var(--padding-25xl);
  }
  .wide-1440px-and-up {
    gap: var(--gap-lgi);
  }
}
@media screen and (max-width: 450px) {
  .medium-length-displa2 {
    font-size: var(--font-size-15xl);
    line-height: 36px;
  }
  .button1 {
    flex-wrap: wrap;
  }
  .content {
    gap: var(--gap-base);
  }
  .ellipse-group,
  .ellipse-parent,
  .feature-icons-parent,
  .footer {
    flex-wrap: wrap;
  }
  .testimonial {
    gap: var(--gap-9xl);
    min-width: 100%;
  }
  .footer1 {
    flex-wrap: wrap;
  }
  .testimonial1 {
    gap: var(--gap-9xl);
    min-width: 100%;
  }
  .footer2 {
    flex-wrap: wrap;
  }
  .testimonial2 {
    gap: var(--gap-9xl);
    min-width: 100%;
  }
  .medium-length-displa3 {
    font-size: var(--font-size-xl);
    line-height: 21px;
  }
  .column-2 {
    flex: 1;
  }
  .menu {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}